Source: huayra-accesibilidad
Section: x11
Priority: extra
Maintainer: Fernando Toledo <ragnarok@docksud.com.ar>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.6
Homepage: http://huayra.conectarigualdad.gob.ar

Package: huayra-accesibilidad
Architecture: all
Depends: ${misc:Depends}, huayra-accesibility-settings
Description: Herramientas de accesibilidad para Huayra
 Este paquete contiene varias herramientas de software para
 trabajar en un entorno accessible.
 .
 dummy package.
